# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# sand helps
test/**/*.json
test/**/*.txt
test/**/*.log
test/.fabric
test/config
test/saves
test/data
test/logs
test/mods
test/resourcepacks

